.reviews-style {
    height: 250px;
    position: relative;
    border: .1px solid rgb(167, 167, 167);
    padding: 2rem 0rem;
    border-radius: 2rem;
    background: #f3f3f3;
    box-shadow: 15px 15px 30px #bebebebb,
        -15px -15px 30px #ffffff83;
}

.reviews-position {
    position: absolute;
    bottom: 2rem;
}

.reviews-position h5 {
    color: rgb(121, 121, 121);
}