.trust {
    /* background-color: #f8f8f8; */
    background-image: url('../../../images//bg3.jpg');
}

.trust-icon {
    font-size: 50px;
    margin-bottom: .5rem;
}

.trust-h1 {
    font-weight: 700;
    font-size: 2.5em;
}

.trust-h3,
.trust-icon {
    color: #28aaa9;
}

.trust2 {
    width: 230px;
    height: auto;
}

.trust-h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}