.side-nav {
  margin-top: 69px;
  height: 35vh;
  background-color: whitesmoke;
  max-width: 11rem;
  border: none;
}

.dashboard-link {
  color: black !important;
  transition: all ease 1s;
}

.dashboard-link-inactive {
  color: rgb(101, 101, 101);
}

.dashboard-button {
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: .5rem 1rem;
  transition: all ease 1s;
}

.dashboard-button:hover {
  background-color: white;
  color: black;
}

.user-profile-container {
  max-width: 700px;
  margin-top: 0;

}

.user-profile-container input {
  padding: .5rem .5rem;
  border-radius: .5rem;
  border: 1px solid darkgray !important;
}

.user-email {
  color: darkslategray;
}

.user-profile-h4-text {
  font-family: var(--roboto) !important;
  color: darkslateblue;
}

.inside-user-profile-h4-text {
  font-family: var(--inter) !important;
  color: teal !important;
}

.edit-profile-button {
  background-color: transparent;
  color: #001e73;
  font-weight: 600;
  padding: .5rem 0rem;
  border: 1px solid #001e73 !important;
  border-radius: .5rem;
  transition: all ease 1s;
}

.edit-profile-button:hover {
  color: white;
  background-color: #001e73;
}

.submit-button {
  background-color: #0005a3;
  color: white;
  padding: .6rem 3rem;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid #0005a3;
  transition: border 1s, background-color 1s, color .5s;
}

.submit-button:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

::placeholder {
  color: dimgray !important;
}

.payment-card {
  border: 1px solid darkgray;
  padding: 2rem;
  width: 350px;
  height: 82.5px;
  border-radius: 1rem 0rem 0rem 1rem;
}

.payment-button {
  background-color: #0005a3;
  color: white;
  padding: 2rem;
  height: 82.5px;
  border: #0005a3;
  border-radius: 0rem 1rem 1rem 0rem;
  transition: all ease 1s;
  font-weight: 700;
}

.payment-button:hover {
  background-color: #001e73;
  border: #001e73;
}

@media only screen and (max-width: 1380px) {
  .user-profile-hr {
    max-width: 400px;
  }
}

@media only screen and (max-width: 440px) {
  .dashboard-button {
    position: fixed;
  }

  .dashboard-title {
    margin-top: 5rem;
  }

  .dashboard {
    justify-content: end !important;
  }
}