.side-nav {
    margin-top: 69px;
    height: calc(100vh - 514.8px - 69px);
    background-color: whitesmoke;
    max-width: 11rem;
    border: none;
    border-radius: 0px 0px 3rem 0px;
}

.dashboard-link {
    color: black !important;
    transition: all ease 1s;
}

.dashboard-link-inactive {
    color: rgb(101, 101, 101);
}

.dashboard-button {
    border: 1px solid black;
    color: white;
    background-color: black;
    padding: .5rem 1rem;
    transition: all ease 1s;
}

.dashboard-button:hover {
    background-color: white;
    color: black;
}

.user-profile-container {
    max-width: 600px;
}

@media only screen and (max-width: 440px) {
    .dashboard-button {
        position: fixed;
    }

    .dashboard-title {
        margin-top: 5rem;
    }

    .dashboard {
        justify-content: end !important;
    }
}