.upcoming {
    color: #5E6366;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5rem !important;
}

.upcoming h1 {
    font-size: 28px;
    text-align: center;
    color: #18191F;
    padding: 10px;
}

.upcoming h2 {
    font-size: 28px;

}

.upcoming p {
    text-align: center;
    color: #18191F;
    padding: 10px;
}

.upcoming-category span {
    color: #4f5355;
    font-size: 70px;
}

.upcoming-category {
    box-shadow: 2px 2px 40px rgb(231, 229, 229);
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.upcoming-categories {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    justify-content: space-around;
    grid-row-gap: 1.1em;
    padding-right: 10px;
    width: 1070px;
    margin: auto;
}


/* media query small monitor start */

@media only screen and (max-width: 1380px) {

    hr {
        width: 1007px !important;
    }

    .upcoming-categories {
        width: 1037px !important;
        grid-row-gap: .8em;
    }
}

/* media query small monitor end */

/* media query tab start */

@media only screen and (max-width: 1141px) {
    hr {
        width: 600px !important;
    }

    .upcoming {
        margin-top: 50px;
    }

    .upcoming-categories {
        width: 660px !important;
        grid-template-columns: repeat(4, 150px);
        grid-row-gap: .8em;
        grid-column-gap: 1.5em;
    }
}

/* media query tab end */

/* media query mobile start */

@media only screen and (max-width: 767px) {

    hr {
        width: 300px !important;
    }

    .upcoming {
        margin-top: 50px;
    }

    .upcoming-categories {
        width: 335px !important;
        grid-template-columns: repeat(2, 150px);
        grid-row-gap: 1em;
    }
}

/* media query mobile end */