footer {
    position: sticky;
    top: 100%;
}

footer a {
    cursor: pointer;
    color: #6a6c6e;
    text-decoration: none;
    transition: .3s all ease;
    font-size: 15px;
    line-height: 1.8;
    font-weight: normal;
    font-family: "Poppins", Arial, sans-serif;
}

footer a:hover {
    color: white;
}

footer .logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
}

.footer-02 {
    color: #bba387;
}

.mr-md-3,
.mx-md-3 {
    margin: 1rem !important;
}

.footer-02 .partner-wrap .btn-custom {
    font-size: 14px;
}

.footer-02 a {
    color: #bba387;
}

.footer-02 .partner-wrap h3 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

.footer-02 .partner-wrap .partner-name a {
    margin-right: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}

footer p {
    color: rgba(255, 255, 255, 0.3);
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: normal;
}

.footer-heading {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

footer .footer-border {
    border-left: 1px solid #1f2325 !important;
}

footer {
    background-color: #131719;
    padding: 75px 0px;
}