.navbar {
    background-color: #000000;
    box-shadow: 5px 10px 8px #5c5c5c1e;
}

.active-link {
    color: #33a9ee !important;
}

.link {
    color: whitesmoke !important;
    transition: color 1s;
}

.link:hover {
    color: #33a9ee !important;
}

.nav-title {
    color: whitesmoke !important;
    text-decoration: none;
    transition: color 1s;
}

.nav-title:hover {
    color: #33a9ee !important;
}

.navbar-link {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.logout-button:hover {
    color: darkolivegreen;
}

.logo {
    height: 33px;
    margin: 5px 0px;
}

.custom-toggler {
    border-color: #fd6204 !important;
    background-color: #fd6204;
}

.sign-out {
    background-color: transparent !important;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transition: color 1s;
}

.sign-out:hover {
    color: rgb(157, 162, 255);
}