.navbar {
    background-color: rgb(75, 75, 75);
    box-shadow: 5px 10px 8px #8888880e;
}

.nav-link {
    color: whitesmoke !important;
}

.navbar-link {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.logout-button:hover {
    color: darkolivegreen;
}

.logo {
    height: 33px;
    margin: 5px 0px;
}