table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black !important;
    text-align: left;
    padding: 8px;
}

.accordion-3 {
    border-bottom: none;
}

.accordion-item {
    border-top: none;
    border-left: none;
    border-right: none;
}