.item-detail-image {
    max-height: 533px;
}

.item-image {
    width: 50%;
}

.item-name {
    font-weight: 600;
}

.item-description-bold {
    font-weight: 600;
}

.item-description {
    width: 50%;
    text-align: start;
}

.deliver-button {
    background-color: rgb(117, 117, 117);
    color: white;
    padding: 0rem 1.48rem;
    border: 2px solid rgb(117, 117, 117);
    transition: border 1s, color .5s;
}

.deliver-button:hover {
    background-color: white;
    color: rgb(117, 117, 117);
    border: 2px solid rgb(117, 117, 117);
}

.update-stock-button {
    background-color: #9d6be8;
    color: white;
    padding: .6rem 3rem;
    border: 2px solid #9d6be8;
    transition: border 1s, background-color 1s, color .5s;
}

.update-stock-button:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.quantity-input {
    max-width: 11rem;
    border: 2px solid #9d6be8;
    transition: border 1s, color .5s;
}

.update-item:hover .quantity-input {
    border: 2px solid black;
}

.update-item:hover .update-stock-button {
    border: 2px solid black;
    background-color: black;
}

.quantity-input:focus {
    outline: none;
}

@media only screen and (max-width: 440px) {
    .item-description {
        width: auto;
        text-align: center;
    }

    .item-image {
        width: auto;
    }

    .item-detail-image {
        max-height: 350px;
        margin-bottom: 2rem;
    }
}